[project]
	description = Projet 2015
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hodiqual
[access "refs/for/refs/*"]
	read = group user/hodiqual
	push = group user/hodiqual
	label-Code-Review = -2..+2 group user/hodiqual
	label-Verified = -1..+1 group user/hodiqual
	rebase = group user/hodiqual
	removeReviewer = group user/hodiqual
	submit = group user/hodiqual
[access "refs/heads/*"]
	read = group user/hodiqual
	create = group user/hodiqual
	push = +force group user/hodiqual
	pushMerge = group user/hodiqual
[access "refs/tags/*"]
	push = +force group user/hodiqual
	pushTag = group user/hodiqual
	pushSignedTag = group user/hodiqual
